* {
    margin: 2;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
}

nav {
    flex: 1;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #8a2cd8;
    z-index: 3; 
}
nav button {
    background-color: #8a2cd8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

nav a:hover:not(.logo) {
    background-color: lightblue;
}

.logo {
    text-align: center;
    outline: none;
}

.logo a {
    outline: none;
}

.logo img {
    max-height: 80px;
}

nav a {
    font-size: 24px;
    color: #fff;
    max-height: 70px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
nav a[href="#basket"] {
    display: none;
}

#loginForm {
    display: none;
    background-color:darkgrey;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    padding: 20px;
    z-index: 2; 
}


.container {
    flex: 3;
    background: #191919;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    position: relative;
    z-index: 1; 
}

.loginButton {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    border-radius: 5px;
    border: 1px solid black;
    z-index: 3;
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

#home, #products, #partPicker, #about, #contact, #basket  {
    background-color: rgb(245, 245, 245);
}




@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
